.container
  .score-table
    %h2.center-align Poule #{@group.name}
    %table.bordered
      %thead
        %tr
          %th Nom
          %th victoires
          %th défaites
          %th points
      %tbody
        - for player in @players
          %tr
            %th= player.first_name + " " + player.last_name
            %th= player.win
            %th= player.lost
            %th= player.points


  .matches-table
    %h2.center-align Matchs
    %table.bordered
      %thead
        %tr
          %th Match
          %th Score
      %tbody
        - for i in 0..(@players.length-2)
          - for j in (i+1)..(@players.length-1)
            %tr
              %th= @players[i].first_name + " " + @players[i].last_name + " - " + @players[j].first_name + " " + @players[j].last_name
