.container
  .score-table
    %h2.center-align Poule #{@group.name}
    %table.bordered
      %thead
        %tr
          %th Nom
          %th.center-align victoires
          %th.center-align défaites
          %th.center-align points
      %tbody
        - for player in @players
          %tr
            %th= player.first_name + " " + player.last_name
            %th.center-align= calc_scores(player)[:win]
            %th.center-align= calc_scores(player)[:lost]
            %th.center-align= calc_scores(player)[:score]


  .matches-table
    %h2.center-align Matchs
    %table.bordered
      %thead
        %tr
          %th
          %th Match
          %th Score
      %tbody
        - for i in 0..(@players.length-2)
          - for j in (i+1)..(@players.length-1)
            %tr
              %th= link_to "Saisir le score", "matches/#{@group.id}/new/#{{player1: @players[i].first_name + " " + @players[i].last_name, player2: @players[j].first_name + " " + @players[j].last_name}}"
              %th!= set_match_name(@players[i].first_name + " " + @players[i].last_name, @players[j].first_name + " " + @players[j].last_name)
              %th= set_match_score(@players[i].first_name + " " + @players[i].last_name, @players[j].first_name + " " + @players[j].last_name)
