.container
  .form-score.center-align
    %h3= @player1 + " vs " + @player2

  = form_for @match, url: {action: "create"}, html: {class: "nifty_form"} do |f|
    %div#winner-title victoire de :
    = radio_button_tag(:win, "player1")
    = label_tag(:win_player1, @player1,id: "label-player1")
    = radio_button_tag(:win, "player2")
    = label_tag(:win_player2, @player2,id: "label-player2")

    #score-table
      %table.bordered
        %tbody
          %tr
            %th#score-table-title score
            %th.center-align
              %span= number_field(:score, :set1_1, in: 0..7)
              %span /
              %span= number_field(:score, :set1_2, in: 0..7)
            %th.center-align
              %span= number_field(:score, :set2_1, in: 0..7)
              %span /
              %span= number_field(:score, :set2_2, in: 0..7)
            %th.center-align
              %span= number_field(:score, :set3_1, in: 0..7)
              %span /
              %span= number_field(:score, :set3_2, in: 0..7)
          %tr
            %th
            %th.center-align 1er set
            %th.center-align 2eme set
            %th.center-align 3eme set

    #check-box-group-score
      = f.check_box :give_up
      = f.label :give_up, "Abandon", id: "label-give-up"
      = f.check_box :wo
      = f.label :wo, "WO", id: "label-wo"

    #group-button-score
      %span#submit-button
        = f.submit "valider", class: "btn waves-effect waves-light"
      = link_to  "Annuler", "/groups/#{@group.id}", class: "btn waves-effect waves-light"
