!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tournoi Interne
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    / dropdown
    %ul{class: "dropdown-content", id:"dropdown-group1"}
      %li
        = link_to "Poule 1", "/groups/2"
      %li
        = link_to "Poule 2", "/groups/3"
        %li
          = link_to "Poule 3", "/groups/4"

    %ul{class: "dropdown-content", id:"dropdown-group2"}
      %li
        = link_to "Poule 1", "/groups/5"
      %li
        = link_to "Poule 2", "/groups/6"
      %li
        = link_to "Poule 3", "/groups/7"


    %nav
      .nav-wrapper
        %a{href: "", class: "button-collapse", "data-activates" => "mobile-demo"}
          %i.material-icons menu
        %ul{class: "left hide-on-med-and-down", id:"nav-mobile"}
          %li
            = link_to "Double femmes", "/groups/1"
          %li
            %a{href: "#", class: "dropdown-button", "data-activates" => "dropdown-group1"}
              Double Hommes
              %i{class: ["material-icons", "right"]}
                arrow_drop_down

          %li
            %a{href: "#", class: "dropdown-button", "data-activates" => "dropdown-group2"}
              Poules 1 Double Mixte
              %i{class: ["material-icons", "right"]}
                arrow_drop_down

        -# Mobile

        %ul{class: "side-nav", id:"mobile-demo"}
          %li
            = link_to "Femmes", "/groups/1"
          %li
            = link_to "Poule 1 Hommes", "/groups/2"
          %li
            = link_to "Poule 2 Hommes", "/groups/3"
          %li
            = link_to "Poule 3 Hommes", "/groups/4"
          %li
            = link_to "Poule 1 Mixte", "/groups/5"
          %li
            = link_to "Poule 2 Mixte", "/groups/6"
          %li
            = link_to "Poule 3 Mixte", "/groups/7"

    = yield
