!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CalculMental
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    / dropdown
    %ul{class: "dropdown-content", id:"dropdown-group1"}
      %li
        = link_to "Poule 1.1", "/groups/1"
      %li
        = link_to "Poule 1.2", "/groups/2"

    %ul{class: "dropdown-content", id:"dropdown-group2"}
      %li
        = link_to "Poule 2.1", "/groups/3"
      %li
        = link_to "Poule 2.2", "/groups/4"
      %li
        = link_to "Poule 2.3", "/groups/5"
      %li
        = link_to "Poule 2.4", "/groups/6"

    %ul{class: "dropdown-content", id:"dropdown-group3"}
      %li
        = link_to "Poule 3.1", "/groups/7"
      %li
        = link_to "Poule 3.2", "/groups/8"
      %li
        = link_to "Poule 3.3", "/groups/9"

    %ul{class: "dropdown-content", id:"dropdown-group1f"}
      %li
        = link_to "Poule 1.1", "/groups/11"
      %li
        = link_to "Poule 1.2", "/groups/12"


    %nav
      .nav-wrapper
        %ul{class: "left hide-on-med-and-down", id:"nav-mobile"}
          %li
            %a{href: "#", class: "dropdown-button", "data-activates" => "dropdown-group1"}
              Poules 1 Hommes
              %i{class: ["material-icons", "right"]}
                arrow_drop_down
          %li
            %a{href: "#", class: "dropdown-button", "data-activates" => "dropdown-group2"}
              Poules 2 Hommes
              %i{class: ["material-icons", "right"]}
                arrow_drop_down
          %li
            %a{href: "#", class: "dropdown-button", "data-activates" => "dropdown-group3"}
              Poules 3 Hommes
              %i{class: ["material-icons", "right"]}
                arrow_drop_down
          %li
            = link_to "Tableau final Hommes", "/groups/10"
          %li
            %a{href: "#", class: "dropdown-button", "data-activates" => "dropdown-group1f"}
              Poules 1 Femmes
              %i{class: ["material-icons", "right"]}
                arrow_drop_down
          %li
            = link_to "Poule 2 Femmes", "/groups/13"

    = yield
